*{
  margin: 0;
  padding: 0;
}

.App{

}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  background-color: #007AFF;
  font-size: 18px;
  color: white;
}

.nav-container{

  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  padding: 12px 20px;

}

.fontheading{
  font-size: 1.2em;
}
.form{
  width: 90vw;

}
.input-form{
 
  margin-left: 30px;
  
  
}

.itemform{
  width: 90vw;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 10px;
  
  
}

.item-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

h1{
  text-align: center;
}


.button-submit{
  text-align: center  ;
}



.ant-form{
  width: 100vw;


} 
.checkbox{
  margin: 20px 20px;
}